@page "{handler?}"
@model Instructors.CreateEdit

@{
    ViewBag.Title = Model.Data.Id == 0 ? "Create" : "Edit";
}

<h2>@(Model.Data.Id == 0 ? "Create" : "Edit")</h2>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Data.Id != 0)
            {
                <input type="hidden" asp-for="Data.Id" />
            }
            
            <div class="form-group">
                <label asp-for="Data.LastName" class="control-label"></label>
                <input asp-for="Data.LastName" class="form-control" />
                <span asp-validation-for="Data.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.FirstMidName" class="control-label"></label>
                <input asp-for="Data.FirstMidName" class="form-control" />
                <span asp-validation-for="Data.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.HireDate" class="control-label"></label>
                <input asp-for="Data.HireDate" class="form-control" />
                <span asp-validation-for="Data.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.OfficeAssignmentLocation" class="control-label">Office Location</label>
                <input asp-for="Data.OfficeAssignmentLocation" class="form-control" />
                <span asp-validation-for="Data.OfficeAssignmentLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                        @{
                            int cnt = 0;

                            foreach (var course in Model.AssignedCourses)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                <label style="font-weight: normal">
                                    <input type="checkbox"
                                           name="Data.SelectedCourses"
                                           value="@course.CourseId"
                                           @(course.Assigned ? "checked=\"checked\"" : "") />
                                    @course.CourseId :  @course.Title
                                </label>
                                @:</td>
                            }
                            @:</tr>
                        }

                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
